CONSTANTS <constant> = <value>
SPECIFICATION Spec
INVARIANTS <names>

# Comments:
Generated at Sat Oct 31 02:58:46 PDT 2009
**************************************************************************)
CONSTANTS \* The variable that alternates between 0 and 1,                *)
v                                                            *)
VARIABLES \* The part of the state that is changed by the A_0          *)
x                                                            *)
CONSTANTS \* Constant operators for assuming correctness of initial     *)
XInit,    \* and actions.                                        *)
XAct                                                         *)
-----------------------------------------------------------------------------
Next ==  \* The next-state relation.                                      *)
/\ \A i : v = i \/ \A i : v = 1 - i                                *)
/\ \E xInit, xNext : XInit(x) =>                                   *)
    (IF v = 0 THEN XAct(v, xInit, xNext)                            *)
     ELSE XAct(1 - v, xNext, xInit))                                *)
=============================================================================
====